@import url('https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&subset=latin-ext');
$bg-color: #3D82AB;
$bg-but: #EE5921;
#wrapper {
	font-family: 'Alegreya Sans SC', sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}
#menu-wrapper {
  h3 {
    color: #79723c;
    text-align: center;
    margin: 1rem 2rem;
  }
  #remainer {
    color: #79a363;
    font-weight: bold;
    padding: 1rem 2rem;
    border-bottom: 2px solid #79a363;
    margin: 1rem 2rem;
  }
  .menu-item {
    padding: 1rem 2rem;
    span {
      width: 100%;
      height: 100%;
      padding: .5rem;
      background: $bg-but;
      text-align: center;
      border: 1px solid #000;
    }
  }
}
.table-wrapper{
  width: 100%;
  table {
    width: 100%;
    background: $bg-color;
  }
  .mat-dark, #canvas {
    background: $bg-color;
  }
  #filter {
    font-size: 1rem;
    margin-left: 100px;
  }
  #table-toolbar {
    border-bottom: 1px solid grey;
  }
  .mat-paginator {
    background: $bg-color;
  }
  .mat-cell, .mat-header-cell, .mat-form-field {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 16px;
  }
}
.dark-theme {
  background: $bg-color;
  width: 100vw;
  height: 100vh;
}
[hidden] {
  display: none!important;
}
#chart {
  margin-top: 1rem;
  #canvas {
	background: $bg-color;
  }
}
h4 {
  margin: 1rem;
}
h3, h1 {
  margin: 1rem auto;
  text-align: center;
}
.link {
  cursor: pointer;
  color: cornflowerblue;
  &:hover {
    text-decoration: underline;
  }
}
.mat-toolbar {
	h3 {
		font-family: 'Lobster', cursive;
	}
}