<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12" id="feed-header">
      <mat-toolbar color="primary">
        <button (click)="openDialog()" mat-raised-button>PŘIDAT</button>
        <mat-form-field>
          <input [(ngModel)]="startAmount" matInput placeholder="Počáteční stav" type="number" value="0">
        </mat-form-field>
        Zůstatek: {{availableAmount | currency}}
      </mat-toolbar>
    </div>
    <div class="col-md-6 offset-md-3 col-sm-12">
      <mat-list #shoes>
        <mat-list-item *ngFor="let transaction of transactionList">
          <div class="row w-100">
            <div class="col-4">{{transaction.date | datum}}</div>
            <div class="col-6">{{transaction.subject}}</div>
            <div class="col-2 text-right">{{transaction.amount | currency}}</div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

