<div class="container" id="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-sm-12">
      <h1>Seznam testovacích scénářů</h1>
      <div class="list-group">
        <a routerLink="/l1s1" routerLinkActive="active" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Layout 1</h5>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
        </a>
        <a routerLink="/l2s1" routerLinkActive="active" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Layout 2</h5>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
        </a>
        <a routerLink="/l3s1" routerLinkActive="active" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Layout 3</h5>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
        </a>
        <a routerLink="/l4s1" routerLinkActive="active" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Layout 4</h5>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
        </a>
      </div>
    </div>
  </div>
</div>
