table {
  width: 100%;
}
.action-panel-row {
  margin: 1rem .5rem;
}
.col-md-9 {
  padding: 0!important;
}
#filter {
  font-size: 1rem;
  margin-left: 100px;
}
.date-col {
  width: 80px;
}
.select-col {
  width: 80px;
}
.amount-col {
  width: 100px;
}

